<footer>
  <span class="copyright">
    © 2024 - Built in
    <a href="https://www.rust-lang.org"><u>Rust</u></a
    >, <a href="https://www.getzola.org"><u>Zola</u></a> and
    <a href="https://github.com/semanticdata/mabuya">Mabuya</a>
  </span>

  <nav class="navigation-footer">
    <ul>
      <li><a href="https://github.com/godswillumukoro">GitHub</a></li>
      <li><a href="https://twitter.com/umukodes">Twiter</a></li>
      <li>
        <a href="https://www.linkedin.com/in/godswillumukoro/">Linkedin</a>
      </li>
    </ul>
  </nav>
</footer>
